html {
    position: relative;
    width: 1200px;
    height: 1000px;
    overflow-x: scroll;
    background: radial-gradient(50.19% 55.19% at 17.99% 18.99%, #FFD597 0.66%, rgba(255, 2, 2, 0.603) 100%);
}

div h1 {
    color: white;
}

body > h1 {
    color: orange;
}

h1 + p {
    font-family: monospace;
    font-size: large;
}

h1, p {
   font-style: italic;
}

a {
    font-size: 1.1rem;
}

a:hover {
    font-size: 1.5rem;
}

p {
    font-size: small;
}

