html {
    position: relative;
    width: 1200px;
    height: 1000px;
    overflow-x: scroll;
    background: radial-gradient(50.19% 55.19% at 17.99% 18.99%, #FFD597 0.66%, rgba(255, 2, 2, 0.603) 100%);

}
